.checkbox-button {
    display: flex;
    align-items: flex-start;
  }
  
  .checkbox-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 460px;
  }
  
  .checkbox-label {
    margin-bottom: 2px;
    margin-right: 0px;
    left: 420px;
    margin-top: 10px;
  
   box-shadow: 3px  black;
  }
  .checkbox-label1{
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 460px;
   
    margin-top: 120px;
    background-color: rgb(61, 199, 214);
    width: 150px;
    height: 30px;
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 0px black;
    text-align: center;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  