.App{
    background-image: url('./img/p.jpg');
    background-size: cover;
    background-repeat: no-repeat;
     height: 1500px;
     position: absolute;
     margin-top: 0px;
     left: 0px;
     right: 0px;
}
.rr{
    display: flex;
}